<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 
        <title>Обручалочка</title>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="js/jcarousellite_1.0.1.js"></script>
        <script type="text/javascript" src="js/jquery.mousewheel.min.js"></script>
        <script type="text/javascript" src="js/jquery.selectBox.js"></script>
        <script type="text/javascript" src="js/custom-form-elements.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
    </head>
    <body>
        <div class="wrap_header">
            <div class="header">
                <div class="top_header">
                    <div class="left_header">
                        <strong class="logo"><a href="index.html">Обручалочка</a></strong>
                        <div class="hot_line">
                            <span>Телефон горячей линии</span>
                            <strong>+38 (050) 880-80-20</strong>
                        </div>
                    </div>
                    <div class="right_header">
                        <form class="forma_search" action="#">
                            <fieldset>
                                <input class="input_search" type="text" value="Поиск по артикулу" title="Поиск по артикулу"/>
                                <input class="button_search" type="submit" value="Найти"/>
                            </fieldset>
                        </form>
                        <a href="#" class="arrival">Войти</a>
                    </div>
                </div>
                <div class="bottom_header">
                    <div class="left_header">
                        <div class="main_menu">
                            <ul>
                                <li><a class="category" href="#">Коллекция</a></li>
                                <li><a href="#">Магазины</a></li>
                                <li><a href="#">Новинки</a></li>
                                <li><a href="#">Акции</a></li>
                                <li><a href="#">Статьи</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="right_header">
                        <ul>
                            <li><a href="#">Список желаний&nbsp;(<span>2</span>)</a></li>
                            <li><a class="no_background" href="#">Корзина&nbsp;(<span>1</span>)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper registration">
            <div class="top_bg_article">
                <div class="btm_bg_article">
                    <div class="show_ring static basket">
                        <a href="#" class="btn_close" title="Закрыть">Закрыть</a>
                        <form action="#">
                            <fieldset>
                                <div class="breadcrumbs">
                                    <ul>
                                        <li><a href="#">Главная</a><span></span></li>
                                        <li>Мне понравилось</li>
                                    </ul>
                                </div>
                                <p>Если Вы зарегистрированы, <a href="#" class="blue_link">войдите в систему</a>, это ускорит оформление заказа.</p>
                                <div class="table_order">
                                    <table class="order">
                                        <tr>
                                            <th>Фотография</th>
                                            <th>Характеристика</th>
                                            <th>Артикул</th>
                                            <th>Тип</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                        <tr>
                                            <td><div class="foto_ring_order">
                                                    <img src="images/small_ring1.png" alt="" />
                                                </div></td>
                                            <td class="characteristic">
                                                <p class="upper">Обручальное кольцо из золота с бриллиантами</p>
                                                <p><strong>вес:</strong> 3,0 г</p>
                                                <p><strong>вставка:</strong> цирконий</p>
                                                <p><strong>вес вставки:</strong> 0,3 г</p>
                                            </td>
                                            <td>K 211 22 11 <br />K 211 22 11</td>
                                            <td class="checkbox_col">
                                                <div class="check_element">
                                                    <label for="ring1_male">мужское</label>
                                                    <input type="checkbox" checked="checked" class="styled" name="ring_sex" id="ring1_male"/>
                                                </div>
                                                <div class="check_element">
                                                    <label for="ring1_female">женское</label>
                                                    <input type="checkbox" class="styled" name="ring_sex" id="ring1_female"/>
                                                </div>
                                            </td>
                                            <td class="del_link"><a href="#" class="del_ring">Удалить из корзины</a></td>
                                        </tr>
                                        <tr>
                                            <td><div class="foto_ring_order">
                                                    <img src="images/small_ring1.png" alt="" />
                                                </div></td>
                                            <td class="characteristic">
                                                <p class="upper">Обручальное кольцо из золота с бриллиантами</p>
                                                <p><strong>вес:</strong> 3,0 г</p>
                                                <p><strong>вставка:</strong> цирконий</p>
                                                <p><strong>вес вставки:</strong> 0,3 г</p>
                                            </td>
                                            <td>K 211 22 11 <br />K 211 22 11</td>
                                            <td class="checkbox_col">
                                                <div class="check_element">
                                                    <select name="sel_type" id="sel_type">
                                                        <option value="1">пара</option>
                                                        <option value="2">мужское</option>
                                                        <option value="3">женское</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td class="del_link"><a href="#" class="del_ring">Удалить из корзины</a></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="buttons">
                                    <a href="checkout_page.html" class="btn_reg btn_ok float_left">Оформить заказ</a>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap_footer">
            <div class="footer">
                <div class="top_footer">
                    <div class="rss_news">
                        <h3>Рассылка новостей</h3>
                        <form action="#">
                            <fieldset>
                                <label for="email">Оставьте Ваш e-mail и <br/>подпишитесь на рассылку</label>
                                <input class="input_email" type="text" name="email" title="Ваш e-mail" value="Ваш e-mail"/>
                                <input class="btn_ok" type="submit" value="OK"/>
                            </fieldset>
                        </form>
                        <div class="icon_net">
                            <ul>
                                <li class="vkontakte"><a href="#">Наша группа Вконтакте</a></li>
                                <li class="facebook"><a href="#">Обручалочка на Facebook</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer_menu">
                        <h3>Дисконтная программа</h3>
                        <ul>
                            <li><a href="#">Дисконт в подарок</a></li>
                            <li><a href="#">Подарочная карта</a></li>
                            <li><a href="#">Условия дисконтной программы</a></li>
                        </ul>
                    </div>
                    <div class="footer_menu">
                        <h3>Статьи о кольцах</h3>
                        <ul>
                            <li><a href="#">Как выбрать кольцо</a></li>
                            <li><a href="#">Тенденции ювелирной моды</a></li>
                            <li><a href="#">Уход за изделиями из золота</a></li>
                        </ul>
                    </div>
                    <div class="footer_menu">
                        <h3>Каталог</h3>
                        <a href="#"><img class="f_catalog" src="images/f_catalog.png" alt="" /></a>
                    </div>
                    <div class="footer_menu">
                        <h3>О нас</h3>
                        <ul>
                            <li><a href="#">Представленные бренды</a></li>
                            <li><a href="#">Магазины сети</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <div class="left_footer">
                    <span class="copyright">&copy; 2011 «Обручалочка»</span>
                    <span class="f_phone">+38 (050) 880-80-20</span>
                </div>
            </div>
        </div>
    </body>
</html>